# Byte-compiled / optimized / C extensions
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env
venv/
env/
.venv/

# IDE and Editor Folders
.vscode/
.idea/

# Local FAISS Vector Store
faiss_store_huggingface/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Build and distribution
build/
dist/
*.egg-info/